<!DOCTYPE html>
<html lang="en">

{% load static %}

{% include "head.html" with title="Города" %}

<body>

{% include "header.html" %}

<div class ="content">
<!--    {% include "pagination.html" with page=sellers %}-->
<!--    {% include "sellers.html" with sellers=sellers %}-->


    <ul class="list-group list-group-flush">
    {% for c in cities %}
    <li class="list-group-item">
        <a href="/city/{{c.id}}"> <span>{{c.title}}</span> </a>
<!--        {% if a.description %}-->
<!--        <img class="album-img rounded-circle" src="{{ a.photo }}" data-toggle="tooltip" data-placement="top" title="{{a.description}}"/>-->
<!--        {% else %}-->
<!--        <img class="album-img rounded-circle" src="{{ a.photo }}"/>-->
<!--        {% endif %}-->
    </li>
    {% endfor %}
    </ul>
</div>

</body>
</html>
