<!DOCTYPE html>

{% load static %}

<html lang="en">
    {% include "head.html" with title=city.title %}
<body>
    {% include "header.html" %}

    <div class="content">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 text-center">
                <h1>
                    {{city.title}}
                </h1>
                <h2>
                    {{sellers.count}} продавцов
                </h2>
                <h2>
                    товары <a href="{% url 'city_page' pk=city.id %}">тут</a>
                </h2>
            </div>
        </div>

        {% include "sellers.html" with sellers=sellers %}

    </div>
</body>
</html>
