{% load static %}

{% if pagination %}
    {% include "pagination.html" with page=goods %}
{% endif %}

{% if goods %}
<div class="container-fluid">
    <div class="row row-cols-4">
        {% for g in goods %}
        {% if forloop.counter0|divisibleby:3 %}
    </div><br><div class="row row-cols-3">
    {% endif %}
    <div class="col-4">
        {% if g.is_telegram %}
            {% include "telegram/good.html" with g=g show_seller=show_seller channel=channel show_duplicates=True %}
        {% else %}
            {% include "vkontakte/good.html" with g=g show_seller=show_seller channel=channel show_duplicates=True %}
        {% endif %}
    </div>
    {% endfor %}

</div>
</div>
{% endif %}

{% if pagination %}
    {% include "pagination.html" with page=goods %}
{% endif %}
