{% load static %}

{% if pagination %}
    {% include "pagination.html" with page=goods %}
{% endif %}

{% if goods %}
<div class="container-fluid">
    <div class="row row-cols-4">
        {% for g in goods %}
        {% if forloop.counter0|divisibleby:3 %}
    </div><br><div class="row row-cols-3">
    {% endif %}
    <div class="col-4">
                <h5><b> {{ g.date }} </b></h5>
                <div>
                    <a href="{% url 'good_detail' owner_id=g.vk_owner_id photo_id=g.vk_photo_id %}">
                        <div class="good-img" style="background-image:url('{{g.photo_link}}')"></div>
                    </a>
                </div>
                <div>
                    <p>
                        <a href="https://t.me/{{channel}}/{{ g.tg_post_id }}" target="_blank"><b>Telegram</b></a>
                        {% if show_duplicates %}
                            {% if g.has_duplicates %}
                            |
                            <a href="{% url 'goods_hash' photo_hash=g.hash %}">см. предыдущие <b>({{g.duplicates_number}})</b></a>
                            {% endif %}
                        {% endif %}
                        |
                        <a href="https://vk.com/photo{{ g.vk_owner_id }}_{{g.vk_photo_id}}">
                            <img class="vk-logo-goods" src="{% static 'vk-logo.svg' %}" alt="ВКонтакте"/>
                        </a>
                    </p>
                </div>
                <div>
                    {% if show_seller %}
                    <p>
                        <b>Продавец: </b>
                        <a href="https://vk.com/id{{ g.seller.vk_id }}">{{g.seller.first_name}} {{g.seller.last_name}}</a>
                        |
                        <a href="{% url 'seller_detail' pk=g.seller.vk_id %}">история</a>
                    </p>
                    {% endif %}
                </div>
                {% if g.descr %}
                <div>
                    <p class="text-break"> <b>Описание: </b> {{ g.descr }} </p>
                </div>
                {% endif %}
                {% if g.comments %}
                <div>
                    <p class="text-break"> <b>Комментарии: </b> {{ g.comments }} </p>
                </div>
                {% endif %}

    </div>
    {% endfor %}

</div>
</div>
{% endif %}

{% if pagination %}
    {% include "pagination.html" with page=goods %}
{% endif %}
