{% load static %}

{% include "yandex.html" %}

{% with request.resolver_match.view_name as view_name %}

<header>
<nav class="navbar navbar-expand-xl navbar-dark bg-dark">

    <a class="navbar-brand" href="/">barahloch.ru</a>

<ul class="navbar-nav mr-auto">

{% ifequal view_name "goods_list" %}
    <li class="nav-item active">
{% else %}
    <li class="nav-item">
{% endifequal %}
        <a class="nav-link" href="{% url 'goods_list' %}">Товары<span class="sr-only">(current)</span></a>
    </li>

{% ifequal view_name "sellers_list" %}
        <li class="nav-item active">
{% else %}
        <li class="nav-item">
{% endifequal %}
            <a class="nav-link" href="{% url 'sellers_list' %}">Продавцы<span class="sr-only"></span></a>
        </li>

{% ifequal view_name "albums_list" %}
        <li class="nav-item active">
{% else %}
        <li class="nav-item">
{% endifequal %}
            <a class="nav-link" href="{% url 'albums_list' %}">Альбомы</a>
        </li>

{% ifequal view_name "cities_list" %}
    <li class="nav-item active">
{% else %}
    <li class="nav-item">
{% endifequal %}
        <a class="nav-link" href="{% url 'cities_list' %}">Города</a>
    </li>

{% ifequal view_name "goods_duplicates" %}
    <li class="nav-item active">
{% else %}
    <li class="nav-item">
{% endifequal %}
        <a class="nav-link" href="{% url 'goods_duplicates' %}">Дубликаты</a>
    </li>

    {% if user.is_superuser %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'admin_view' %}">Админка</a>
    </li>
    {% endif %}

</ul>

<span class="navbar-text">
    {% if user.is_authenticated %}
        <a href="{% url 'profile_view' %}">
            <span class="nav-link">
                {{user.first_name}} {{user.last_name}} (@{{user.get_username}})
            </span>
        </a>
		<a class="nav-link" href="{% url 'logout_view' %}">Выйти</a>

    {% else %}
		<a class="nav-link" href="{% url 'login_view' %}">Войти</a>
    {% endif %}
</span>
</nav>
</header>


{% endwith %}
