{% load static %}

{% include "yandex.html" %}

{% with request.resolver_match.view_name as view_name %}

<header>
<nav class="navbar navbar-expand-xl navbar-dark bg-dark">

    <a class="navbar-brand" href="/">barahloch.ru</a>

<ul class="navbar-nav mr-auto">

{% ifequal view_name "goods_list" %}
    <li class="nav-item active">
{% else %}
    <li class="nav-item">
{% endifequal %}
        <a class="nav-link" href="{% url 'goods_list' %}">Товары<span class="sr-only">(current)</span></a>
    </li>

{% ifequal view_name "sellers_list" %}
        <li class="nav-item active">
{% else %}
        <li class="nav-item">
{% endifequal %}
            <a class="nav-link" href="{% url 'sellers_list' %}">Продавцы<span class="sr-only"></span></a>
        </li>

{% ifequal view_name "albums_list" %}
        <li class="nav-item active">
{% else %}
        <li class="nav-item">
{% endifequal %}
            <a class="nav-link" href="{% url 'albums_list' %}">Альбомы</a>
        </li>

{% ifequal view_name "cities_list" %}
    <li class="nav-item active">
{% else %}
    <li class="nav-item">
{% endifequal %}
        <a class="nav-link" href="{% url 'cities_list' %}">Города</a>
    </li>

{% ifequal view_name "goods_duplicates" %}
    <li class="nav-item active">
{% else %}
    <li class="nav-item">
{% endifequal %}
        <a class="nav-link" href="{% url 'goods_duplicates' %}">Дубликаты</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'telegram_goods_list' %}">Товары Telegram</a>
    </li>

</ul>

<span class="navbar-text">
    {% if user.is_authenticated %}
		{% if vk_user_id %}
			<a href="{% url 'seller_detail' pk=vk_user_id %}">
				<span class="nav-link">
					{{user.first_name}} {{user.last_name}} (@{{user.get_username}})
				</span>
			</a>
		{% else %}
			<span class="nav-link">
				{{user.first_name}} {{user.last_name}} (@{{user.get_username}})
			</span>
		{% endif %}
		<a class="nav-link" href="{% url 'logout_view' %}">Выйти</a>

    {% else %}
		<a class="nav-link" href="{% url 'login_view' %}">Войти</a>
    {% endif %}
</span>

<!--    <a href="/login/vk-oauth2">-->
<!--        <img class="vk-logo" src="{% static 'vk-logo.svg' %}" alt="Login via ВКонтакте"/>-->
<!--    </a>-->

<!--    <form class="form-inline my-2 my-lg-0">-->
<!--      <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Поиск">-->
<!--      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>-->
<!--    </form>-->

</nav>
</header>


{% endwith %}
