
{% include "yandex.html" %}

{% with request.resolver_match.view_name as view_name %}


<header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<ul class="navbar-nav mr-auto">
{% ifequal view_name "sellers_list" %}
        <li class="nav-item active">
{% else %}
        <li class="nav-item">
{% endifequal %}
            <h3><a class="nav-link" href="/">Продавцы<span class="sr-only">(current)</span></a></h3>
        </li>

{% ifequal view_name "albums_list" %}
        <li class="nav-item active">
{% else %}
        <li class="nav-item">
{% endifequal %}
            <h3><a class="nav-link" href="/albums">Альбомы</a></h3>
        </li>

    {% ifequal view_name "cities_list" %}
    <li class="nav-item active">
        {% else %}
    <li class="nav-item">
        {% endifequal %}
        <h3><a class="nav-link" href="/cities">Города</a></h3>
    </li>
</ul>

<!--    <form class="form-inline my-2 my-lg-0">-->
<!--      <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Поиск">-->
<!--      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>-->
<!--    </form>-->

</nav>
</header>


{% endwith %}
