<!DOCTYPE html>

{% load static %}

<html lang="en">

{% include "head.html" with title=Вход %}

<body>
{% include "header.html" %}

<div class="text-center">


<!--<form class="form-signin" method="post">-->
<!--    {% csrf_token %}-->

<!--  <img class="vk-logo" src="{% static '150.jpg' %}"/>-->
<!--  <h1 class="h3 mb-3 font-weight-normal">Заходи по одному</h1>-->
<!--  <label for="inputEmail" class="sr-only">Login</label>-->
<!--  <input type="text" id="inputEmail" class="form-control" placeholder="Login" required="" autofocus="" name="login">-->
<!--  <label for="inputPassword" class="sr-only">Password</label>-->
<!--  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" name="password">-->
<!--  <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>-->
<!--  {% if failed %}-->
<!--  <div class="mt-3 mb-3 alert alert-danger" role="alert">-->
<!--    Не удалось залогиниться-->
<!--  </div>-->
<!--  {% endif %}-->
<!--</form>-->

  <p class="mt-3 mb-3">Вход через сувенирную лавку</p>

  <div class="mt-2">
    <div class="mt-auto">

<!--    <a href="/login/vk-oauth2" class="text-decoration-none">-->
<!--      <img class="vk-logo" src="{% static 'vk-logo.svg' %}" alt="Login via ВКонтакте"/>-->
<!--    </a>-->
<script type="text/javascript" src="https://vk.com/js/api/openapi.js?168"></script>
<script type="text/javascript">
  VK.init({apiId: 7487468});
</script>
<!-- VK Widget -->
<div id="vk_auth"></div>
<script type="text/javascript">
  VK.Widgets.Auth("vk_auth", {"width":300,"authUrl":"/login/vk-oauth2"});
</script>

    </div>
  </div>

  <div class="mt-2">
    <script async src="https://telegram.org/js/telegram-widget.js?9" data-telegram-login="{{telegram_bot_name}}" data-size="large" data-auth-url="http://{{domain}}/complete/telegram" data-request-access="write"></script>
  </div>
</div>

</body>
</html>