{% load static %}

{% load barahloch_extras %}

<div class="container-fluid">
    <div class="row row-cols-3">
        {% for s in sellers %}
        {% if forloop.counter0|divisibleby:3 %}
    </div>
    <br>
    <div class="row row-cols-3">
    {% endif %}
    <div class="col-sd-4">
        <div class="seller">
                <div class="row">
                    <img src="{{ s.photo }}" class="seller-photo rounded-circle col-5"/>
                    <div class="col">
                        <div>
                            <h4>
                            {% if s.is_group %}
                            {{ s.first_name }}
                            {% else %}
                            {{ s.first_name }} {{ s.last_name }}
                            {% endif %}
                            ({{s.counter}})
                            {% if s.is_group %}
                            <a href="https://vk.com/public{{ s.vk_id|neg }}">
                                <img class="vk-logo-sellers" src="{% static 'vk-logo.svg' %}" alt="ВКонтакте"/>
                            </a>
                            {% else %}
                            <a href="https://vk.com/id{{ s.vk_id }}">
                                <img class="vk-logo-sellers" src="{% static 'vk-logo.svg' %}" alt="ВКонтакте"/>
                            </a>
                            {% endif %}
                            </h4>
                        </div>
                        {% if s.city %}
                        <div>
                            <h5><a href="{% url 'city_page' pk=s.city.id %}">{{s.city.title}}</a></h5>
                        </div>
                        {% endif %}
                        <div>
                            <a href="{% url 'seller_detail' pk=s.vk_id %}">История</a>
                        </div>
                        <div>
                            <h4></h4>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    {% endfor %}
    </div>
</div>
