<!DOCTYPE html>
<html lang="en">

{% load static %}
{% load barahloch_extras %}

{% include "head.html" with title="" %}

<body>

{% include "header.html" %}

<div class="content">

    <h1 class="text-break">
        <a href="{% url 'telegram_goods_category' category=good.category %}">
            {{ good.get_category_display }}
        </a>
        /
        {{ good.caption }}
    </h1>
    <h5> {{ good.date }} </h5>

    {% include "goods/good_state.html" with g=good%}

    <img class="good-detail-img rounded" src="{{good.photo_link}}"/>

    <div class="mt-2">
        <h2>
            {{ good.price }} {{good.currency}}
        </h2>
        <p>
            <b>Продавец:</b>
            {{good.tg_user.full_name}}
            {% if good.tg_user.username %}
            |
            <a href="https://t.me/{{good.tg_user.username}}" target="_blank">
                Telegram
            </a>
            {% endif %}
            |
            <a href="{% url 'telegram_seller_detail' tg_user_id=good.tg_user.tg_user_id %}">история</a>
        </p>
        <p>
            <b>Город: </b> {{ good.tg_user.city.title }} / {{ good.get_ship_display|lower }}
        </p>
        <p class="text-break"> {{ good.descr|urlizetrunc:30|bold_numbers|truncatewords_html:42|safe }} </p>
    </div>

    <div class="mt-2">
        <a class="link-img" href="https://t.me/{{channel}}/{{ good.tg_post_id }}" target="_blank">
            <img class="vk-logo-goods" src="{% static 'tg-logo.svg' %}" alt="Telegram"/>
        </a>
        {% if good.has_duplicates %}
        <a href="{% url 'goods_hash' photo_hash=good.hash %}">см. предыдущие <b>({{good.duplicates_number}})</b></a>
        {% endif %}
    </div>


</div>

</body>
</html>
