body {
/*
  margin: 40px;
  padding: 20px 40px 40px 40px;
*/
}
header {
    top: 0;
    left: 0;
    width: 100%;
}

.content {
    margin: 20px;
    font-size: 1.5rem;
}

.seller-photo {
    float: left;
    width: 100%;
    height: 100%;
}

.seller-detail-photo {
    width: 100%;
    height: 100%;
}

.seller-list {
    list-style-type:none;
    float: right;
    text-align: right;
}

.good {
    height: 100%
}

.good-img {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 25vw;
}

.tg-good-img {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 50vw;
}

.good-detail-img {
    width: 100%;
}

.album-img {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 25vw;
}

.album {
    height: 100%
}

.album-caption {
    background-color: rgba(255, 255, 255, 0.7);
}

.seller {
    margin: 5px;
}

.pagination-container{
    display: flex;
    justify-content: center;
}


.pagination {
    margin: 10px;
}

.vk-logo {
    width: 3vw;
}

.vk-logo-sellers {
    width: 3vw;
}

.vk-logo-goods {
    width: 4vw;
}

.link-img {
    text-decoration: none !important;
}
