<!DOCTYPE html>

{% load static %}
{% load barahloch_extras %}

<html lang="en">

{% with ""|addstr:seller.first_name|addstr:" "|addstr:seller.last_name as title %}
    {% include "head.html" %}
{% endwith %}

<body>

{% include "header.html" %}

<div class="content">
    <div class="seller">
        <div>
            <div class="row">
                <img src="{{ seller.photo }}" class="seller-detail-photo rounded-circle col-2"/>
                <div class="col">
                    <div>
                        {% if seller.is_group %}
                        <h1><b>{{ seller.first_name }}</b></h1>
                        {% else %}
                        <h1><b>{{ seller.first_name }} {{ seller.last_name }}</b></h1>
                        {% endif %}
                    </div>
                    {% if city %}
                    <h3>
                        город: <a href="/city/{{city.id}}">{{ city.title }}</a>
                    </h3>
                    {% endif %}
                    <h2>
                        {% if seller.is_group %}
                        <a href="https://vk.com/public{{ seller.vk_id|neg }}">ВКонтакте</a>
                        {% else %}
                        <a href="https://vk.com/id{{ seller.vk_id }}">ВКонтакте</a>
                        {% endif %}
                    </h2>
                </div>
            </div>
        </div>
    </div>

    {% include "goods.html" with goods=goods %}
</div>

</body>
</html>