<!DOCTYPE html>

{% load static %}
{% load barahloch_extras %}

<html lang="en">

{% with ""|addstr:seller.first_name|addstr:" "|addstr:seller.last_name as title %}
    {% include "head.html" %}
{% endwith %}

<body>

{% include "header.html" %}

<div class="content">
    <div class="card seller">
        <div class="card-body">
            <div class="row">

            <img src="{{ seller.photo }}" class="seller-detail-photo rounded-circle col-2"/>

            <ul class="col list-group list-group-flush">
                <li class="list-group-item">
                    <h1><b>{{ seller.first_name }} {{ seller.last_name }}</b></h1>
                </li>
                <li class="list-group-item">
                    <a href="https://vk.com/id{{ seller.vk_id }}">вКонтакте</a>
                </li>
                {% if city %}
                <li class="list-group-item">
                    город: <a href="/city/{{city.id}}">{{ city.title }}</a>
                </li>
                {% endif %}
            </ul>
            </div>
        </div>
    </div>

    {% include "goods.html" with goods=goods %}
</div>

</body>
</html>