<!DOCTYPE html>

{% load static %}

<html lang="en">

{% include "head.html" with title=seller.first_name %}

<body>

{% include "header.html" %}

<div class="content">

    <div class="card seller">
        <div class="card-body">
            <img src="{{ seller.photo }}" class="seller-photo rounded-circle"/>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <h1><b>{{ seller.first_name }} {{ seller.last_name }}</b></h1>
                </li>
                <li class="list-group-item">
                    <a href="https://vk.com/id{{ seller.vk_id }}">вКонтакте</a>
                </li>
                {% if seller.city_id %}
                <li class="list-group-item">
                    город: <a href="/city/{{city.id}}">{{ city.title }}</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>

<!--    <h1>-->
<!--        <img src="{{seller.photo}}" class="rounded-circle"/>-->
<!--        <a href="https://vk.com/id{{seller.vk_id}}" target="_blank"> {{ seller.first_name }} {{ seller.last_name }}</a>-->
<!--        {% if city %}-->
<!--        <span>| <a href="/city/{{city.id}}">{{ city.title }}</a></span>-->
<!--        {% endif %}-->
<!--    </h1>-->

    {% include "goods.html" with goods=goods %}
</div>

</body>
</html>