<!DOCTYPE html>
<html lang="en">

{% load static %}
{% load barahloch_extras %}

{% include "head.html" with title="Альбомы" %}

<body>

{% include "header.html" %}

<div class ="content">
    {% if albums %}

    <div class="container-fluid">
        <div class="row row-cols-3">
            {% for a in albums %}
            {% if forloop.counter0|divisibleby:3 %}
        </div>
        <br>
        <div class="row row-cols-3">
            {% endif %}
            <div class="col-4">
                <div class="">
                    <div class="row">
                        <div class="col">
                            <div>
                                <div class="album-img" style="background-image:url('{{a.photo}}')"></div>
                            </div>
                            <div>
                                <b> {{a.owner_name}} </b>
                                /
                                <a href="https://vk.com/album{{a.owner_id}}_{{a.album_id}}" target="_blank">
                                    <b> {{ a.title }} </b>
                                </a>
                            </div>
                            <div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    {% endif %}
</div>

</body>
</html>
