<!DOCTYPE html>
<html lang="en">

{% load static %}
{% load barahloch_extras %}

{% include "head.html" with title="Альбомы" %}

<body>

{% include "header.html" %}

<div class ="content">
    {% if albums %}

    <div class="container-fluid">
        <div class="row row-cols-4">
            {% for a in albums %}
            {% if forloop.counter0|divisibleby:4 %}
        </div>
        <br>
        <div class="row row-cols-4">
            {% endif %}
            <div class="col-sd-3">
                <div class=" seller">
                    <div class="row">
                        <ul class="list-group list-group-flush col">
                            <li class="list-group-item">
                                <h4 class="card-title"> {{a.group_name}} </h4>
                            </li>
                            <li class="list-group-item">
                                <div class="album-img" style="background-image:url('{{a.photo}}')"></div>
                            </li>
                            <li class="list-group-item">
                                <a href="https://vk.com/album{{a.owner_id}}_{{a.album_id}}" target="_blank">
                                    <h5><b> {{ a.title }} </b></h5>
                                </a>
                            </li>
                            {% if a.description %}
                            <li class="list-group-item">
                                <p>{{a.description}}</p>
                            </li>
                            {% endif %}
                        </ul>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    {% endif %}
</div>

</body>
</html>
