{% load barahloch_extras %}

<a href="{% url 'good_detail' owner_id=g.vk_owner_id photo_id=g.vk_photo_id %}">
    <h4><b> {{ g.date }} </b></h4>
</a>

{% include "goods/good_state.html" %}

<a href="{% url 'good_detail' owner_id=g.vk_owner_id photo_id=g.vk_photo_id %}">
    <div class="good-img" style="background-image:url('{{g.get_preview_photo}}')"></div>
</a>

{% if user.is_superuser %}
    {% include "goods/good_buttons.html" %}
{% else %}
    {% if vk_seller %}
        {% ifequal vk_seller.vk_id g.seller.vk_id %}
            {% include "goods/good_buttons.html" %}
        {% endifequal %}
    {% endif %}
{% endif %}


<div class="mt-2 mb-2" >
    {% if show_duplicates %}
        {% if g.has_duplicates %}
            {% url 'goods_hash' photo_hash=g.hash as hash_url %}
            {% if hash_url %}
                <a href="{{ hash_url }}">дубли<b>({{g.duplicates_number}})</b></a>
            {% endif %}
        {% endif %}
    {% endif %}
</div>
<div>
    {% if show_seller %}
    <p>
        <b>Продавец: </b>
        <a href="https://vk.com/id{{ g.seller.vk_id }}">{{g.seller.first_name}} {{g.seller.last_name}}</a>
        |
        <a href="{% url 'seller_detail' pk=g.seller.vk_id %}">история</a>
    </p>
    {% endif %}
</div>
{% if g.descr  %}
<div>
    <p class="text-break"> <b>Описание: </b> {{ g.descr|unescape|striptags|urlizetrunc:30|bold_numbers|truncatewords_html:42|safe }}
        <a href="{% url 'good_detail' owner_id=g.vk_owner_id photo_id=g.vk_photo_id %}">
            подробнее...
        </a>
    </p>
</div>
{% endif %}

{% if g.comments and not g.descr %}
<div>
    <p class="text-break"> <b>Комментарии: </b> {{ g.comments|unescape|striptags|urlizetrunc:30|vknames|bold_numbers|truncatewords_html:42|safe  }}
        <a href="{% url 'good_detail' owner_id=g.vk_owner_id photo_id=g.vk_photo_id %}">
            подробнее...
        </a>
    </p>
</div>
{% endif %}
