<!DOCTYPE html>
<html lang="en">

{% load static %}
{% load barahloch_extras %}

{% include "head.html" with title="" %}

<body>

{% include "header.html" %}

<div class="content">

    <h2> {{ good.date }} </h2>

    {% include "goods/good_state.html" with g=good%}
    <img class="good-detail-img rounded" src="{{good.photo_link}}"/>

    <div class="mt-2">
        <a class="link-img" href="https://t.me/{{channel}}/{{ good.tg_post_id }}" target="_blank">
            <img class="vk-logo-goods" src="{% static 'tg-logo.svg' %}" alt="ВКонтакте"/>
        </a>
        <a class="link-img" href="https://vk.com/photo{{ good.vk_owner_id }}_{{good.vk_photo_id}}">
            <img class="vk-logo-goods" src="{% static 'vk-logo.svg' %}" alt="ВКонтакте"/>
        </a>
        {% if good.has_duplicates %}
        {% url 'goods_hash' photo_hash=good.hash as hash_url %}
        {% if hash_url %}
            <a href="{{ hash_url }}">см. предыдущие <b>({{good.duplicates_number}})</b></a>
        {% endif %}
        {% endif %}
    </div>

    <p>
        <h4><b>Продавец: </b>
            <a href="https://vk.com/id{{ good.seller.vk_id }}">{{good.seller.first_name}} {{good.seller.last_name}}</a>
            |
            <a href="{% url 'seller_detail' pk=good.seller.vk_id %}">история</a>
        </h4>
    </p>
    {% if good.descr %}
    <div>
        <p class="text-break"><b>Описание: </b> {{ good.descr|unescape|striptags|urlizetrunc:30|vknames|bold_numbers|safe }} </p>
    </div>
    {% endif %}
    {% if good.comments %}
    <div>
        <p class="text-break"><b>Комментарии: </b> {{ good.comments|unescape|striptags|urlizetrunc:30|vknames|bold_numbers|safe }} </p>
    </div>
    {% endif %}
</div>

</body>
</html>
