<!DOCTYPE html>

{% load static %}
{% load barahloch_extras %}

<html lang="en">

{% with ""|addstr:seller.first_name|addstr:" "|addstr:seller.last_name as title %}
    {% include "head.html" %}
{% endwith %}

<body>

{% include "header.html" %}

<div class="content">
    <div class="seller">
        <div>
            <div class="row">
                <img src="{{ seller.photo }}" class="seller-detail-photo rounded-circle col-2"/>
                <div class="col">
                    <h1>
                        {% if seller.is_group %}
                        <b>{{ seller.first_name }}</b>
                        {% else %}
                        <b>{{ seller.first_name }} {{ seller.last_name }}</b>
                        {% endif %}
                        ({{seller.goods_counter}})
                        {% if seller.is_group %}
                        <a href="https://vk.com/public{{ seller.vk_id|neg }}">
                            <img class="vk-logo" src="{% static 'vk-logo.svg' %}" alt="ВКонтакте"/>
                        </a>
                        {% else %}
                        <a href="https://vk.com/id{{ seller.vk_id }}">
                            <img class="vk-logo" src="{% static 'vk-logo.svg' %}" alt="ВКонтакте"/>
                        </a>
                        {% endif %}
                    </h1>
                    {% if city %}
                    <h3>
                        город: <a href="/city/{{city.id}}">{{ city.title }}</a>
                    </h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% include "goods.html" with goods=goods show_duplicates=True %}
</div>

</body>
</html>