<!DOCTYPE html>

{% load static %}

<html lang="en">
{% include "head.html" with title=Админка %}
<body>
{% include "admin/header.html" %}

<div class="content">

    <div class="container-fluid">
        <div class="row row-cols-6">
            {% for u in users %}
            {% if forloop.counter0|divisibleby:6 %}
        </div><br><div class="row row-cols-6">
        {% endif %}
        <div class="col-2">
            <h4>{{u.first_name}} {{u.last_name}} / @{{u.username}}</h4>
            {% if u.seller_vk %}
<!--                <h5><a href="{{u.seller_vk.vk_id}}"> Товары ВКонтакте</a>  </h5>-->
                <h5><a href="{% url 'seller_detail' pk=u.seller_vk.vk_id %}">История</a></h5>
            {% endif %}

            {% if u.user_vk %}
            <div class="mt-3">
                <a href="https://vk.com/id{{u.user_vk.uid}}" class="text-decoration-none">
                    <img class="vk-logo-user" src="{% static 'vk-logo.svg' %}" alt="ВКонтакте"/>
                </a>
                <span>@id{{u.user_vk.uid}}</span>
            </div>
            {% endif %}
            {% if u.user_tg %}
            <div class="mt-3">
                <a href="https://t.me/{{u.user_tg.username}}" class="text-decoration-none">
                    <img class="vk-logo-user" src="{% static 'tg-logo.svg' %}" alt="ВКонтакте"/>
                </a>
                <span>@id{{u.user_tg.uid}}</span>
            </div>
            {% endif %}
        </div>
        {% endfor %}
        </div>
    </div>

</div>

</body>
</html>
